* {
    margin: 0;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 7, 7);
}

.mainHeader {
    font-family: sans-serif;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 27px;
    background-color: rgb(41, 40, 40);

}

input {
    outline: none;
    background-color: aliceblue;
}

.MainSearch {
    display: flex;
}

.p {
    padding: auto;
    margin: auto;
    text-align: center;
}

input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Heading {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    padding: 19px;
}

h3 {
    padding: 10px;
    text-align: center;
}

.subTitle {
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Title {
    font-size: 40px;
    padding: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #4CAF50;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

ul {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 12px;
    margin-bottom: 22px;
}

ul::first-letter {
    text-transform: capitalize;
}

li {
    display: flex;
    text-decoration: none;
    outline: none;
    padding: 2px;
    font-size: 16px;
}

ul li {
    text-transform: capitalize;
}

ul li:first-letter {
    text-transform: uppercase;
}

ul li:not(:last-child)::after {
    content: ",";
    margin-right: 2px;
}

.cards {
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(7, 7, 7);

}

.Card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 1rem;
    flex-basis: 25%;
    text-align: center;
    flex-wrap: wrap;
    background: rgba(162, 184, 193, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainbutton {
    flex-grow: 1;
}

.Card p {
    text-align: center;
    margin: auto;
}

.Card p h4 h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.CardNew {
    margin-top: 20px;
    padding: 1rem;
    flex-basis: 55%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(23, 23, 23);
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgba(162, 184, 193, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.FeaturedItem {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(226, 106, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    padding: 5px;
    text-align: center;
}

p {
    padding: 5px;
    text-align: center;
}

img {
    margin-top: 20px;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.Cards-btn {
    align-self: center;
    margin: 12px 0px;
    background-color: #e7460b;
}

Footer {
    width: 100%;
    background-color: rgba(0, 28, 39, 0.75);
    margin-top: 105px;
    color: white;
    height: 62px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 680px) {
    .Card {
        flex-basis: 50%;
    }

}

@media only screen and (max-width: 470px) {
    .Card {
        flex-basis: 70%;
    }

    .subTitle {
        padding: 10px;
        font-size: 15px;
        text-align: center;
        display: none;
    }

    .Title {
        font-size: 36px;
        padding: 19px;
        margin-bottom: 20px;
        text-align: center;
    }

    input[type="text"] {
        font-size: 14px;
        padding: 5px;

    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 370px) {
    input[type="text"] {
        font-size: 13px;
        padding: 2px;
        text-align: center;

    }

    button {
        padding: 12px 16px;
        font-size: 13px;
    }

    .Cards-btn {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 900px) {
    .mainHeader {
        flex-direction: column;
    }

    .Title {
        margin-bottom: 40px;
        text-align: center;
    }

    .subTitle {
        display: none;
    }
}

@media only screen and (min-width: 680px) and (max-width:990px) {
    .Card {
        flex-basis: 37%;
    }
}

@media only screen and (max-width:990px) {
    .CardNew {
        flex-basis: 80%
    }
}